/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: linear-gradient(to bottom, rgba(18, 18, 21, 1) 0%, rgba(38, 38, 41, 1) 100%);
        --menu-title-color: white;
        --hamburger-color-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(103%) contrast(104%);
        --link-color: #AAAAAA;
        --link-color-bold: white;
        --link-color-services: white;
        --text-shadow: none;
        --title-color: white;
        --section-02-background-color: white;
        --section-02-text-color: #242430;
        --section-02-signature-color: #7000A0;
        --section-03-text-color: white;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --almost-black: #121215;
        --background-color: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(204, 204, 204, 1) 100%);
        --menu-title-color: var(--almost-black);
        --hamburger-color-filter: brightness(0) saturate(100%) invert(4%) sepia(2%) saturate(6301%) hue-rotate(202deg) brightness(97%) contrast(92%);
        --link-color: #444444;
        --link-color-bold: var(--almost-black);
        --link-color-services: var(--almost-black);
        --text-shadow: 0 0 15px white;
        --title-color: var(--almost-black);
        --section-02-background-color: var(--almost-black);
        --section-02-text-color: #CCCCCC;
        --section-02-signature-color: #CD7FFF;
        --section-03-text-color: var(--almost-black);
    }
}

/* mobile size */
@media only screen and (max-width: 375px) {
    :root {
        --flex-direction: column;
        --nav-align-items: center;
        --nav-items-display: none;
        --hamburger-display: inline;
        --services-display: none;
        --section-01-image-width: auto;
        --section-01-image-height: 300px;
        --section-01-image-display: none;
        --section-01-title-font-size: 50px;
        --title-color: white;
        --text-shadow: none;
        --padding: 32px 32px 32px 32px;
        --section-02-detail-container-height: auto;
        --section-02-detail-width: 100%;
        --section-02-detail-height: auto;
        --section-02-detail-text-height: 80px;
        --section-02-detail-font-size: 22px;
        --section-03-gap: 32px;
        --section-03-par-font-size: 18px;
        --footer-font-size: 40px;
        --footer-height: 150px;
    }

    .section-01-container {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        align-content: stretch;
        justify-content: center;
        background-image: url("./img/image_1.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
    }

    .section-01-title-layout {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        position: relative;
        margin-top: 34px;
    }

    .section-03-par-margin {
        margin-bottom: 25px;
    }

    .letter-spacing {
        letter-spacing: 50px;
    }
}

/* desktop size */
@media only screen and (min-width: 375px) {
    :root {
        --flex-direction: row;
        --nav-align-items: start;
        --nav-items-display: flex;
        --hamburger-display: none;
        --services-display: flex;
        --section-01-image-width: 628px;
        --section-01-image-height: 471px;
        --section-01-image-display: flex;
        --section-01-title-font-size: 120px;
        --padding: 80px 80px 80px 80px;
        --section-02-detail-container-height: 513px;
        --section-02-detail-width: 393px;
        --section-02-detail-height: 513px;
        --section-02-detail-text-height: 216px;
        --section-02-detail-font-size: 30px;
        --section-03-gap: 80px;
        --section-03-par-font-size: 24px;
        --footer-font-size: 120px;
        --footer-height: 300px;
    }

    .section-01-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        align-content: stretch;
        justify-content: space-between;
        padding: 80px 80px 80px 80px;
    }

    .section-01-title-layout {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        left: 529px;
        top: 233px;
    }

    .section-03-par-margin {
        margin-bottom: 40px;
    }

    .letter-spacing {
        letter-spacing: 200px;
    }
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: block;
    src: url(./fonts/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(./fonts/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url(./fonts/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(./fonts/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(./fonts/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.content-container {
    width: 100%;
    height: auto;
    border: 0;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    border-radius: 0 0 0 0;
}

.nav-container {
    width: 100%;
    height: auto;
    border: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
}

.nav-item-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    padding: 0 32px 0 32px;
    flex-shrink: 0;
    border-bottom: 1px solid;
    border-color: var(--menu-title-color);
}

.hamburger {
    display: var(--hamburger-display);
    filter: var(--hamburger-color-filter);
    cursor: pointer;
}

.title {
    color: var(--menu-title-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 40px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.nav-items {
    width: auto;
    height: 80px;
    display: var(--nav-items-display);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: end;
    gap: 50px;
}

.link {
    color: var(--link-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.link-bold {
    color: var(--link-color-bold);
    font-weight: 700;
}

.link-services {
    color: var(--link-color-services);
    font-size: 30px;
}

.section-01-image-container {
    width: var(--section-01-image-width);;
    height: auto;
    display: var(--section-01-image-display);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
}

.section-01-image {
    width: var(--section-01-image-width);
    height: var(--section-01-image-height);
    border: 0;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-01-services-container {
    width: auto;
    height: auto;
    display: var(--services-display);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    align-content: stretch;
    justify-content: flex-end;
    flex-shrink: 0;
}

.section-01-title-font {
    color: var(--title-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: var(--section-01-title-font-size);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
    text-shadow: var(--text-shadow);
}

.section-02-container {
    width: 100%;
    height: auto;
    background-color: var(--section-02-background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    gap: 50px;
    padding: var(--padding);
}

.section-02-title {
    color: var(--section-02-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.section-02-detail-container {
    width: 100%;
    height: var(--section-02-detail-container-height);
    display: flex;
    flex-direction: var(--flex-direction);
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: space-between;
    gap: 50px;
}

.section-02-detail {
    width: var(--section-02-detail-width);
    height: var(--section-02-detail-height);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    gap: 50px;
    flex-shrink: 0;
}

.section-02-detail-image {
    width: 168px;
    height: 168px;
    border-radius: 500px;
    flex-shrink: 0;
}

.section-02-detail-text {
    width: 100%;
    height: var(--section-02-detail-text-height);
    color: var(--section-02-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: italic;
    font-size: var(--section-02-detail-font-size);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
    align-self: start;
}

.section-02-signature-font {
    color: var(--section-02-signature-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
    align-self: flex-end;
}

.section-03-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    gap: var(--section-03-gap);
    padding: var(--padding);
}

.section-03-title {
    color: var(--section-03-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.section-03-par {
    color: var(--section-03-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: var(--section-03-par-font-size);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.footer-container {
    width: 100%;
    height: var(--footer-height);
    background: linear-gradient(to bottom, rgba(112, 0, 160, 1) 0%, rgba(160, 0, 155, 1) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.footer-text-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.footer-text {
    display: inline;
    color: #FFFFFF;
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: var(--footer-font-size);
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

