/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: linear-gradient(to bottom, rgba(18, 18, 21, 1) 0%, rgba(38, 38, 41, 1) 100%);
        --menu-title-color: white;
        --background-color-hover: #444444;
        --svg-color-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(103%) contrast(104%);
        --link-color: #AAAAAA;
        --link-color-bold: white;
        --contact-text-color: white;
        --message-form-background-color: white;
        --input-color: #888888;
        --input-label-color: #242430;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --almost-black: #121215;
        --background-color: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(204, 204, 204, 1) 100%);
        --menu-title-color: var(--almost-black);
        --background-color-hover: #AAAAAA;
        --svg-color-filter: brightness(0) saturate(100%) invert(4%) sepia(2%) saturate(6301%) hue-rotate(202deg) brightness(97%) contrast(92%);
        --link-color: #444444;
        --link-color-bold: var(--almost-black);
        --contact-text-color: var(--almost-black);
        --message-form-background-color: var(--almost-black);
        --input-color: #CCCCCC;
        --input-label-color: #CCCCCC;
    }
}

/* mobile size - less then 375 */
@media only screen and (max-width: 375px) {
    :root {
        --flex-direction: column;
        --nav-items-display: none;
        --hamburger-display: inline;
        --padding: 32px 32px 32px 32px;
        --services-description-container-padding: 0 40px 0 40px;
        --services-container-gap: 64px;
        --par-font-size: 20px;
        --contact-gap: 32px;
        --section-03-par-font-size: 18px;
        --iframe-height: 400px;
        --message-form-row-gap: 32px;
        --form-input-width: 100%;
        --form-button-width: 100%;
        --footer-font-size: 40px;
        --footer-height: 150px;
    }

    .contact-par-margin {
        margin-top: 25px;
    }

    .letter-spacing {
        letter-spacing: 50px;
    }
}

/* Standard mobile size - between 375 and 576 */
@media only screen and (min-width: 375px) and (max-width: 576px) {
    :root {
        --flex-direction: column;
        --nav-items-display: none;
        --hamburger-display: inline;
        --padding: 32px 32px 32px 32px;
        --services-description-container-padding: 0 40px 0 40px;
        --services-container-gap: 64px;
        --par-font-size: 20px;
        --contact-gap: 32px;
        --section-03-par-font-size: 20px;
        --iframe-height: 400px;
        --message-form-row-gap: 32px;
        --form-input-width: 100%;
        --form-button-width: 100%;
        --footer-font-size: 40px;
        --footer-height: 150px;
    }

    .contact-par-margin {
        margin-top: 25px;
    }

    .letter-spacing {
        letter-spacing: 50px;
    }
}

/* Larger mobile size - between 576 and 768 */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    :root {
        --flex-direction: column;
        --nav-items-display: none;
        --hamburger-display: inline;
        --padding: 32px 32px 32px 32px;
        --services-description-container-padding: 0 40px 0 40px;
        --services-container-gap: 64px;
        --par-font-size: 20px;
        --contact-gap: 64px;
        --section-03-par-font-size: 22px;
        --iframe-height: 400px;
        --message-form-row-gap: 32px;
        --form-input-width: 100%;
        --form-button-width: 100%;
        --footer-font-size: 40px;
        --footer-height: 150px;
    }

    .contact-par-margin {
        margin-top: 25px;
    }

    .letter-spacing {
        letter-spacing: 50px;
    }
}

/* small tablets size - between 769 and 992 */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    :root {
        --flex-direction: column;
        --nav-items-display: none;
        --hamburger-display: inline;
        --padding: 32px 32px 32px 32px;
        --services-description-container-padding: 0 40px 0 40px;
        --services-container-gap: 64px;
        --par-font-size: 20px;
        --contact-gap: 64px;
        --section-03-par-font-size: 24px;
        --iframe-height: 400px;
        --message-form-row-gap: 32px;
        --form-input-width: 100%;
        --form-button-width: 100%;
        --footer-font-size: 60px;
        --footer-height: 200px;
    }

    .contact-par-margin {
        margin-top: 25px;
    }

    .letter-spacing {
        letter-spacing: 100px;
    }
}

/* Tablets and smaller laptops size */
@media only screen and (min-width: 993px) and (max-width: 1279px) {
    :root {
        --flex-direction: column;
        --nav-items-display: flex;
        --hamburger-display: none;
        --padding: 80px 80px 80px 80px;
        --services-description-container-padding: 0;
        --services-container-gap: 80px;
        --par-font-size: 24px;
        --contact-gap: 80px;
        --section-03-par-font-size: 24px;
        --iframe-height: 400px;
        --message-form-row-gap: 32px;
        --form-input-width: 100%;
        --form-button-width: 312px;
        --footer-font-size: 80px;
        --footer-height: 250px;
    }

    .contact-par-margin {
        margin-top: 40px;
    }

    .letter-spacing {
        letter-spacing: 100px;
    }
}

/* desktop size */
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
    :root {
        --flex-direction: row;
        --nav-items-display: flex;
        --hamburger-display: none;
        --padding: 80px 80px 80px 80px;
        --footer-font-size: 120px;
        --footer-height: 300px;
        --services-description-container-padding: 0;
        --services-container-gap: 80px;
        --par-font-size: 24px;
        --contact-gap: 80px;
        --section-03-par-font-size: 24px;
        --iframe-height: 100%;
        --message-form-row-gap: 100px;
        --form-input-width: 300px;
        --form-button-width: 312px;
    }

    .contact-par-margin {
        margin-top: 40px;
    }

    .letter-spacing {
        letter-spacing: 200px;
    }
}

/* large desktop size */
@media only screen and (min-width: 1440px) {
    :root {
        --flex-direction: row;
        --nav-items-display: flex;
        --hamburger-display: none;
        --padding: 80px 80px 80px 80px;
        --footer-font-size: 120px;
        --footer-height: 300px;
        --services-description-container-padding: 0;
        --services-container-gap: 80px;
        --par-font-size: 24px;
        --contact-gap: 80px;
        --section-03-par-font-size: 24px;
        --iframe-height: 100%;
        --message-form-row-gap: 100px;
        --form-input-width: 360px;
        --form-button-width: 312px;
    }

    .contact-par-margin {
        margin-top: 40px;
    }

    .letter-spacing {
        letter-spacing: 200px;
    }
}

.content-container {
    width: 100%;
    height: auto;
    border: 0;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    border-radius: 0 0 0 0;
}

.nav-container {
    width: 100%;
    height: auto;
    border: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
}

.nav-item-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    padding: 0 32px 0 32px;
    flex-shrink: 0;
    border-bottom: 1px solid;
    border-color: var(--menu-title-color);
}

.hamburger {
    display: var(--hamburger-display);
    filter: var(--svg-color-filter);
    cursor: pointer;
}

.title {
    color: var(--menu-title-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 40px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.nav-items {
    width: auto;
    height: 80px;
    display: var(--nav-items-display);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: end;
    gap: 40px;
}

.link {
    color: var(--link-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
    padding: 10px;
}

.link-bold {
    color: var(--link-color-bold);
    font-weight: 700;
}

.link:hover {
    background-color: var(--background-color-hover);
    border-radius: 6px;
    color: var(--link-color-bold);
}

.contact-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    gap: var(--contact-gap);
    padding: var(--padding);
    flex-grow: 1;
}

.contact-content-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: var(--flex-direction);
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    gap: var(--contact-gap);
}

.contact-title {
    color: var(--contact-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.contact-par {
    color: var(--contact-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: var(--section-03-par-font-size);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.contact-row-67 {
    flex-basis: 67%;
}

.contact-row-33 {
    flex-basis: 33%;
}

.contact-link {
    font-style: italic;
}

.padding-left {
    padding-left: 10px;
}

.link-border {
    border-bottom: 1px solid;
}

iframe {
    border: 0;
    width: 100%;
    height: var(--iframe-height);
}

.footer-container {
    width: 100%;
    height: var(--footer-height);
    background: linear-gradient(to bottom, rgba(112, 0, 160, 1) 0%, rgba(160, 0, 155, 1) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.footer-text-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.footer-text {
    display: inline;
    color: #FFFFFF;
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: var(--footer-font-size);
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.message-form-row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: var(--flex-direction);
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    gap: var(--message-form-row-gap)
}

.input-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: start;
    gap: 16px;
}

.width-100 {
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: var(--padding);
    background-color: var(--message-form-background-color);
    gap: 32px;
}

input {
    width: var(--form-input-width);
    height: 50px;
    background-color: var(--input-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #7000A0;
    border-radius: 0;
}

textarea {
    width: 100%;
    height: 120px;
    background-color: var(--input-color);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #7000A0;
    border-radius: 0;
}

label {
    color: var(--input-label-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

button {
    width: var(--form-button-width);
    height: 72px;
    align-self: flex-end;
    border: 0;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(to bottom, rgba(112, 0, 160, 1) 0%, rgba(160, 0, 155, 1) 100%);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
}