
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

body {
    height: 100%;
    width: 100%;
    min-width: 336px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    background: white;
    overflow-x: hidden;
}

p, div, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

header, section, footer, main, aside, nav {
    display: inline-block; /* or flex/grid depending on your layout */
    width: 100%; /* You can control the width or other properties */
    margin: 0;
    padding: 0;
}
