
/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: linear-gradient(to bottom, rgba(18, 18, 21, 1) 0%, rgba(38, 38, 41, 1) 100%);
        --menu-title-color: white;
        --svg-color-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(103%) contrast(104%);
        --link-color: #AAAAAA;
        --link-color-bold: white;
        --service-desc-text-color: white;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --almost-black: #121215;
        --background-color: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(204, 204, 204, 1) 100%);
        --menu-title-color: var(--almost-black);
        --svg-color-filter: brightness(0) saturate(100%) invert(4%) sepia(2%) saturate(6301%) hue-rotate(202deg) brightness(97%) contrast(92%);
        --link-color: #444444;
        --link-color-bold: var(--almost-black);
        --service-desc-text-color: var(--almost-black);
    }
}

/* mobile size */
@media only screen and (max-width: 375px) {
    :root {
        --flex-direction: column;
        --nav-align-items: center;
        --nav-items-display: none;
        --hamburger-display: inline;
        --services-display: none;
        --section-01-image-width: auto;
        --section-01-image-height: 300px;
        --section-01-image-display: none;
        --section-01-title-font-size: 50px;
        --padding: 32px 32px 32px 32px;
        --section-02-detail-container-height: auto;
        --section-02-detail-width: 100%;
        --section-02-detail-height: auto;
        --section-02-detail-text-height: 80px;
        --section-02-detail-font-size: 22px;
        --section-03-gap: 32px;
        --section-03-par-font-size: 18px;
        --section-04-font-size: 40px;
        --section-04-height: 150px;
        --services-description-container-padding: 0 40px 0 40px;
        --par-font-size: 20px;
    }

    .letter-spacing {
        letter-spacing: 50px;
    }
}

/* desktop size */
@media only screen and (min-width: 375px) {
    :root {
        --flex-direction: row;
        --nav-align-items: start;
        --nav-items-display: flex;
        --hamburger-display: none;
        --services-display: flex;
        --section-01-image-width: 628px;
        --section-01-image-height: 471px;
        --section-01-image-display: flex;
        --section-01-title-font-size: 120px;
        --padding: 80px 80px 80px 80px;
        --section-02-detail-container-height: 513px;
        --section-02-detail-width: 393px;
        --section-02-detail-height: 513px;
        --section-02-detail-text-height: 216px;
        --section-02-detail-font-size: 30px;
        --section-03-gap: 80px;
        --section-03-par-font-size: 24px;
        --section-04-font-size: 120px;
        --section-04-height: 300px;
        --services-description-container-padding: 0;
        --par-font-size: 24px;
    }

    .letter-spacing {
        letter-spacing: 200px;
    }
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: block;
    src: url(./fonts/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(./fonts/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url(./fonts/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url(./fonts/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.content-container {
    width: 100%;
    height: auto;
    border: 0;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    border-radius: 0 0 0 0;
}

.nav-container {
    width: 100%;
    height: auto;
    border: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
}

.nav-item-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    padding: 0 32px 0 32px;
    flex-shrink: 0;
    border-bottom: 1px solid;
    border-color: var(--menu-title-color);
}

.hamburger {
    display: var(--hamburger-display);
    filter: var(--svg-color-filter);
    cursor: pointer;
}

.title {
    color: var(--menu-title-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 40px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.nav-items {
    width: auto;
    height: 80px;
    display: var(--nav-items-display);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: end;
    gap: 50px;
}

.link {
    color: var(--link-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.link-bold {
    color: var(--link-color-bold);
    font-weight: 700;
}

.services-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    gap: 80px;
    padding: var(--padding);
}

.service-title {
    color: var(--service-desc-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.services-description-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 50px;
}

.services-description-column {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 50px;
}

.services-description-row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: var(--flex-direction);
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 50px;
}

.service-description-item-container {
    height: auto;
    width: 393px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    gap: 32px;
    padding: var(--services-description-container-padding);
}

.service-desc-item-image {
    filter: var(--svg-color-filter);
    cursor: pointer;
}

.service-desc-item-title {
    color: var(--service-desc-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    text-align: center;
}

.service-desc-item-par {
    color: var(--service-desc-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: var(--par-font-size);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
}

.footer-container {
    width: 100%;
    height: var(--section-04-height);
    background: linear-gradient(to bottom, rgba(112, 0, 160, 1) 0%, rgba(160, 0, 155, 1) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.footer-text-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.footer-text {
    display: inline;
    color: #FFFFFF;
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: var(--section-04-font-size);
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}
