
/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: linear-gradient(to bottom, rgba(18, 18, 21, 1) 0%, rgba(38, 38, 41, 1) 100%);
        --menu-title-color: white;
        --background-color-hover: #444444;
        --svg-color-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(103%) contrast(104%);
        --link-color: #AAAAAA;
        --link-color-bold: white;
        --service-desc-text-color: white;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --almost-black: #121215;
        --background-color: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(204, 204, 204, 1) 100%);
        --menu-title-color: var(--almost-black);
        --background-color-hover: #AAAAAA;
        --svg-color-filter: brightness(0) saturate(100%) invert(4%) sepia(2%) saturate(6301%) hue-rotate(202deg) brightness(97%) contrast(92%);
        --link-color: #444444;
        --link-color-bold: var(--almost-black);
        --service-desc-text-color: var(--almost-black);
    }
}

/* mobile size - less then 375 */
@media only screen and (max-width: 375px) {
    :root {
        --flex-direction: column;
        --nav-items-display: none;
        --hamburger-display: inline;
        --padding: 32px 32px 32px 32px;
        --footer-font-size: 40px;
        --footer-height: 150px;
        --services-description-container-padding: 0 40px 0 40px;
        --services-container-gap: 64px;
        --par-font-size: 20px;
        --services-description-container-flex-direcion: column;
        --service-description-item-container-height: auto;
    }

    .letter-spacing {
        letter-spacing: 50px;
    }
}

/* Standard mobile size - between 375 and 576 */
@media only screen and (min-width: 375px) and (max-width: 576px) {
    :root {
        --flex-direction: column;
        --nav-items-display: none;
        --hamburger-display: inline;
        --padding: 32px 32px 32px 32px;
        --footer-font-size: 40px;
        --footer-height: 150px;
        --services-description-container-padding: 0 20px 0 20px;
        --services-container-gap: 64px;
        --par-font-size: 20px;
        --services-description-container-flex-direcion: column;
        --service-description-item-container-height: auto;
    }

    .letter-spacing {
        letter-spacing: 50px;
    }
}

/* Larger mobile size - between 576 and 768 */
@media only screen and (min-width: 576px) and (max-width: 768px) {
    :root {
        --flex-direction: column;
        --nav-items-display: none;
        --hamburger-display: inline;
        --padding: 32px 32px 32px 32px;
        --footer-font-size: 40px;
        --footer-height: 150px;
        --services-description-container-padding: 0 40px 0 40px;
        --services-container-gap: 64px;
        --par-font-size: 20px;
        --services-description-container-flex-direcion: column;
        --service-description-item-container-height: auto;
    }

    .letter-spacing {
        letter-spacing: 50px;
    }
}

/* small tablets size - between 769 and 992 */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    :root {
        --flex-direction: column;
        --nav-items-display: none;
        --hamburger-display: inline;
        --padding: 32px 32px 32px 32px;
        --footer-font-size: 40px;
        --footer-height: 150px;
        --services-description-container-padding: 0 40px 0 40px;
        --services-container-gap: 64px;
        --par-font-size: 20px;
        --services-description-container-flex-direcion: row;
        --service-description-item-container-height: 420px;
    }

    .letter-spacing {
        letter-spacing: 50px;
    }
}

/* Tablets and smaller laptops size */
@media only screen and (min-width: 993px) and (max-width: 1279px) {
    :root {
        --flex-direction: column;
        --nav-items-display: flex;
        --hamburger-display: none;
        --padding: 32px 32px 32px 32px;
        --footer-font-size: 80px;
        --footer-height: 250px;
        --services-description-container-padding: 0;
        --services-container-gap: 64px;
        --par-font-size: 24px;
        --services-description-container-flex-direcion: row;
        --service-description-item-container-height: 420px;
    }

    .letter-spacing {
        letter-spacing: 50px;
    }
}

/* desktop size */
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
    :root {
        --flex-direction: row;
        --nav-items-display: flex;
        --hamburger-display: none;
        --padding: 80px 80px 80px 80px;
        --footer-font-size: 120px;
        --footer-height: 300px;
        --services-description-container-padding: 0;
        --services-container-gap: 80px;
        --par-font-size: 20px;
        --services-description-container-flex-direcion: column;
        --service-description-item-container-height: auto;
    }

    .letter-spacing {
        letter-spacing: 200px;
    }
}

/* large desktop size */
@media only screen and (min-width: 1440px) {
    :root {
        --flex-direction: row;
        --nav-items-display: flex;
        --hamburger-display: none;
        --padding: 80px 80px 80px 80px;
        --footer-font-size: 120px;
        --footer-height: 300px;
        --services-description-container-padding: 0;
        --services-container-gap: 80px;
        --par-font-size: 24px;
        --services-description-container-flex-direcion: column;
        --service-description-item-container-height: auto;
    }

    .letter-spacing {
        letter-spacing: 200px;
    }
}

.content-container {
    width: 100%;
    height: auto;
    border: 0;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    border-radius: 0 0 0 0;
}

.nav-container {
    width: 100%;
    height: auto;
    border: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
}

.nav-item-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    padding: 0 32px 0 32px;
    flex-shrink: 0;
    border-bottom: 1px solid;
    border-color: var(--menu-title-color);
}

.hamburger {
    display: var(--hamburger-display);
    filter: var(--svg-color-filter);
    cursor: pointer;
}

.title {
    color: var(--menu-title-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 40px;
    font-weight: 100;
    line-height: 1;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.nav-items {
    width: auto;
    height: 80px;
    display: var(--nav-items-display);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: end;
    gap: 40px;
}

.link {
    color: var(--link-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
    padding: 10px;
}

.link-bold {
    color: var(--link-color-bold);
    font-weight: 700;
}

.link:hover {
    background-color: var(--background-color-hover);
    border-radius: 6px;
    color: var(--link-color-bold);
}

.services-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    gap: var(--services-container-gap);
    padding: var(--padding);
}

.service-title {
    color: var(--service-desc-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}

.services-description-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: var(--services-description-container-flex-direcion);
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.services-description-column {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 50px;
}

.services-description-row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: var(--flex-direction);
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 50px;
}

.service-description-item-container {
    height: var(--service-description-item-container-height);
    width: 393px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    gap: 32px;
    padding: var(--services-description-container-padding);
}

.service-desc-item-image {
    filter: var(--svg-color-filter);
}

.service-desc-item-title {
    color: var(--service-desc-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
    text-align: center;
}

.service-desc-item-par {
    color: var(--service-desc-text-color);
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: var(--par-font-size);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
}

.footer-container {
    width: 100%;
    height: var(--footer-height);
    background: linear-gradient(to bottom, rgba(112, 0, 160, 1) 0%, rgba(160, 0, 155, 1) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.footer-text-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.footer-text {
    display: inline;
    color: #FFFFFF;
    font-family: "Roboto", "Times New Roman", sans-serif, Times;
    font-style: normal;
    font-size: var(--footer-font-size);
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    text-transform: none;
    flex-shrink: 0;
}
